<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link href="css/styles.css" rel="stylesheet">
  <title>URL Shortener FCC</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-center">URL Shortener by Kenzo</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <input id="url-field" type="text" class="form-control" placeholder="Paste a link...">
        <span class="input-group-btn">
          <button id="shorten-btn" class="btn btn-shorten" type="button">Shorten it!</button>
        </span>
      </div>
    </div>
  </div>
  <script src="javascript/shorten.js"></script>
</body>
</html>
